LinkedIn_Poster_with_image.json
{
  "name": "LinkedIn Poster",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "29fe97b3-9326-81bc-ad30-d80a82f2f146",
          "mode": "list",
          "cachedResultName": "LinkedIn Content Database",
          "cachedResultUrl": "https://www.notion.so/29fe97b3932681bcad30d80a82f2f146"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Scheduled"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -352,
        256
      ],
      "id": "f103e8aa-8e4a-4801-ba0c-2b5ed3122270",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "hF5aj9kcQrquieAr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9f0e92b-c8f5-46b1-9d99-8af1fbb3d9fb",
              "leftValue": "={{ $json.property_image }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        256
      ],
      "id": "90c1e514-5478-4201-a79f-008b7b70bead",
      "name": "Image present"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        256
      ],
      "id": "798db39f-a0ac-46d9-aa24-ed19824e50c7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Set values').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Publication Date|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Status|status",
              "statusValue": "Posted"
            },
            {
              "key": "Publication Date|date",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        992,
        128
      ],
      "id": "d2c51677-eeec-4251-8182-6f92897a1830",
      "name": "Update Record",
      "credentials": {
        "notionApi": {
          "id": "hF5aj9kcQrquieAr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "person": "=",
        "text": "={{ $('Set values').item.json.post_content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        528,
        352
      ],
      "id": "1ef8ccf5-5ca9-4111-8d28-1c3dc209995e",
      "name": "Create text post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "feW55vdn09XCnxrE",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "person": "=",
        "text": "={{ $json.post_content }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "{{ $json.data }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        768,
        128
      ],
      "id": "e228991a-346b-4e13-adb2-fbd6220c952d",
      "name": "Create image post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "feW55vdn09XCnxrE",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Set values').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Publication Date|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Status|status",
              "statusValue": "Posted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        720,
        352
      ],
      "id": "7009c6cd-bd7a-445c-b31d-a54e46a48080",
      "name": "Update record",
      "credentials": {
        "notionApi": {
          "id": "hF5aj9kcQrquieAr",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c035927f-6619-4d9f-9204-0e8a45312614",
              "name": "post_content",
              "value": "={{ $json.property_linked_in_post }}",
              "type": "string"
            },
            {
              "id": "0afa674a-cf3f-453b-8a14-6277c4e9cb71",
              "name": "property_image",
              "value": "={{ $json.property_image }}",
              "type": "array"
            },
            {
              "id": "12f9cced-85a3-4557-a489-722abf2977b8",
              "name": "id",
              "value": "={{ $('Notion').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        256
      ],
      "id": "ad344cf7-74f6-4552-bfc9-5d993f02aefa",
      "name": "Set values"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff739a7a-49a9-43dc-8851-8af95d473fe5",
              "leftValue": "={{ $json.property_schedule_date.start }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -128,
        256
      ],
      "id": "e893b33e-99f6-443b-ac82-28006ca50337",
      "name": "Date filter"
    },
    {
      "parameters": {
        "url": "={{ $('Set values').item.json.property_image[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        128
      ],
      "id": "07216cf1-e85f-46b8-b69b-923e061c2ff2",
      "name": "Fetch image"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-09-04T13:52:47.543+10:00",
          "Readable date": "September 4th 2025, 1:52:47 pm",
          "Readable time": "1:52:47 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "September",
          "Day of month": "04",
          "Hour": "13",
          "Minute": "52",
          "Second": "47",
          "Timezone": "Australia/Brisbane (UTC+10:00)"
        }
      }
    ]
  },
  "connections": {
    "Notion": {
      "main": [
        [
          {
            "node": "Date filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image present": {
      "main": [
        [
          {
            "node": "Fetch image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create text post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create text post": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create image post": {
      "main": [
        [
          {
            "node": "Update Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set values": {
      "main": [
        [
          {
            "node": "Image present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date filter": {
      "main": [
        [
          {
            "node": "Set values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image": {
      "main": [
        [
          {
            "node": "Create image post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "369ae418-be30-4837-b6e4-068e140b60b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b62a3adc0717f0dc14e1bf312e8ab828ddba7f0d8915a211032bc326f8d708a"
  },
  "id": "DvOoOzLUlrHwT45E",
  "tags": []
}